.titulo{
    display: inline-block;
    margin-left: 30px;
    color: rgb(135, 209, 17);
}
header{
    background: linear-gradient(to right, black, rgb(99, 96, 96));
}
div{
    margin-left: 13px;
}
svg{
    color: white;
    margin-left: 3px;
}
.opciones{
    display: flex;
    margin-top: 13px;
    margin-left: -150px;
}
p{
    color: rgb(135, 209, 17);
    display: inline-block;
    margin-left: 3px;
    font: 100% sans-serif;
}
.crear-cuenta{
    position: relative;
    right: -1000px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 13px;
    height: 40px;
    width: 150px;
    margin-top: 13px;
    display: flex;
    background-color: rgb(80, 80, 80);
}
.iniciar-sesion{
    position: relative;
    right: -1000px;
    border: 3px solid rgb(135, 209, 17);
    border-radius: 13px;
    height: 40px;
    width: 150px;
    margin-top: 13px;
    display: flex;
    background-color: rgb(80, 80, 80);
}
h5{
    color: white;
    margin: auto;
    font: 80% sans-serif;
}
.sesiones{
    display: flex;
}
.imagen_main{
    width: 90%;
    height: 180px;
}
.bienvenida{
    color: rgb(146, 145, 145);
    font: 150% sans-serif;
}
.redes{
    background-color: rgb(112, 112, 112);
    display: flex;
}
.tik_tok{
    margin-left: 330px;
}
.instagram{
    margin-left: 330px;
}
.imagen_busqueda{
    margin-left: 530px;
    margin-top: 13px;
}
.noticias{
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 150px;
    grid-gap: 10%;
}
.noticia1{
    width: 80px;
    height: 80px;
}
.noticia2{
    width: 80px;
    height: 80px;
}
.noticia3{
    width: 80px;
    height: 80px;
}
h3{
    color: rgb(103, 103, 103);
    font: 100% sans-serif;
}