*{
    padding: 0;
    margin: 0;
}
.logo{
    margin-top: 13px;
    margin-left: 13px;
}
.titulo{
    display: inline-block;
    margin-left: 30px;
    color: rgb(135, 209, 17);
}
header{
    background: linear-gradient(to right, black, rgb(99, 96, 96));
}
svg{
    color: white;
    margin-left: 3px;
}
.opciones{
    display: flex;
    margin-top: 13px;
    margin-left: -150px;
}
p{
    color: rgb(135, 209, 17);
    display: inline-block;
    margin-left: 3px;
    font: 100% sans-serif;
}
.crear-cuenta{
    border: 3px solid rgb(0, 0, 0);
    border-radius: 13px;
    height: 40px;
    width: 150px;
    margin-top: 13px;
    display: flex;
    background-color: rgb(80, 80, 80);
}
.iniciar-sesion{
    border: 3px solid rgb(135, 209, 17);
    border-radius: 13px;
    height: 40px;
    width: 150px;
    margin-top: 13px;
    display: flex;
    background-color: rgb(80, 80, 80);
    margin-right: 13px;
    margin-left: 13px;
}
h5{
    color: white;
    margin: auto;
    font: 80% sans-serif;
}
.sesiones{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.imagen_main{
    width: 80%;
}
.bienvenida{
    color: rgb(146, 145, 145);
    font: 150% sans-serif;
}
.redes{
    background-color: rgb(112, 112, 112);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 35px;
}
.tik_tok{
    margin-left: 330px;
}
.instagram{
    margin-left: 330px;
}
.imagen_busqueda{
    margin-left: 0px;
    margin-top: 0px;
}
.noticias{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 150px;
    grid-gap: 10%;
}
.Noticia1{
    width: 300px;
    height: 300px;
}
.Noticia2{
    width: 300px;
    height: 300px;
}
.Noticia3{
    width: 300px;
    height: 300px;
}
h3{
    color: rgb(103, 103, 103);
    font: 100% sans-serif;
}
.logeo{
    display: flex;
}
.rutina{
    margin-left: 13px;
}
.calendario{
    margin-left: 13px;
}
.meta{
    margin-left: 13px;
}
.ayuda{
    margin-left: 13px;
}